# Bring credentials
BRING_UID=
BRING_API_KEY=
BRING_CUSTOMER_NUMBER=

# Sendgrid
SENDGRID_KEY=

# Fiken
FIKEN_KEY=

# Intercom
INTERCOM_USER_HASH_KEY=

# Slack - url to hook for posting message to room
SLACK_ROOMS_BESTILLINGER=