127.0.0.1   admin.local.dronehandelen.no
127.0.0.1   frontend.local.dronehandelen.no
127.0.0.1   api.local.dronehandelen.no
127.0.0.1   cdn.local.dronehandelen.no
127.0.0.1   cdn-private.local.dronehandelen.no